.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
    color: #fff;
  }
  
  .logo h1 {
    font-family: monospace;
    margin: 0;
  }
  
  .nav {
    display: flex;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .authStatus h2 {
    margin: 0;
    font-size: 1rem;
  }
  
  .logoutButton {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 20px;
  }
  .signupButton {
    background-color: #01cc4b;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 20px;
  }

  .signupButton:hover {
    background-color: #139643;
  }
  .loginButton {
    background-color: #cc017b;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 20px;
  }
  .loginButton:hover {
    background-color: #9d12ad;

  }
  
  .logoutButton:hover {
    background-color: #d32f2f;
  }
  