@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(145 145 145);
  color: #fff;
  font-family: "VT323", monospace;
}

.logo h1 {
  font-family: "VT323", monospace;
  font-size: 3rem;
  margin: 0;
}

.nav {
  font-family: "VT323", monospace;
  display: flex;
}

.nav a {
  color: #fff;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  margin: auto;
}

.authStatus h2 {
  margin: 0;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
}

.logoutButton {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 20px;
}
.signupButton {
  font-size: 1.5rem;
  font-family: "VT323", monospace;
  background-color: rgb(57 57 57);
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 20px;
}

.signupButton:hover {
  background-color: #139643;
}
.loginButton {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  background-color: rgb(57 57 57);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 20px;
}
.loginButton:hover {
  background-color: green;
}

.logoutButton:hover {
  background-color: rgb(235 115 46);
}
